#
# APPLICATION
#
APP_NAME=app-name
APP_SCHEMA=http
APP_HOST=localhost
APP_PORT=3000
APP_ROUTE_PREFIX=/api
APP_BANNER=true

#
# LOGGING
#
LOG_LEVEL=debug
LOG_OUTPUT=dev

# MYSQL
TYPEORM_CONNECTION=mysql
TYPEORM_HOST=localhost
TYPEORM_PORT=3306
TYPEORM_USERNAME=root
TYPEORM_PASSWORD=1
TYPEORM_DATABASE=p2p
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=error
TYPEORM_LOGGER=advanced-console

# SQLite
# TYPEORM_CONNECTION=sqlite
# TYPEORM_DATABASE=./mydb.sql
# TYPEORM_LOGGING=error
# TYPEORM_LOGGER=advanced-console

#
# PATH STRUCTRUE
#
# MYSQL
TYPEORM_MIGRATIONS=src/database/migrations/**/*.ts
TYPEORM_MIGRATIONS_DIR=src/database/migrations

# SQLite
# TYPEORM_MIGRATIONS=test/database/migrations/**/*.ts
# TYPEORM_MIGRATIONS_DIR=test/database/migrations

# General
TYPEORM_ENTITIES=src/api/models/**/*.ts
TYPEORM_ENTITIES_DIR=src/api/models
TYPEORM_SEEDING_FACTORIES=src/database/factories/**/*{.ts,.js}
TYPEORM_SEEDING_SEEDS=src/database/seeds/**/*{.ts,.js}
CONTROLLERS=src/api/controllers/**/*Controller.ts
MIDDLEWARES=src/api/middlewares/**/*Middleware.ts
SUBSCRIBERS=src/api/subscribers/**/*Subscriber.ts

#
# Swagger
#
SWAGGER_ENABLED=true
SWAGGER_ROUTE=/swagger
SWAGGER_FILE=api/swagger.json
SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=1234
